.buttons {
    margin-top: 5px;
}

.btn-style {
    outline: none;
    background-color: #da942c;
    border: 2px solid transparent;
    color: white;
    padding: 4px 20px;
    font-weight: 600;
    transition: all .5s;
    border-radius: 30px;
    margin-right: 10px;
}

.btn-style:hover {
    background-color: white;
    color: #da942c;
    border: 2px solid #da942c;
}

.btn-style.download-btn {
    background-color: white;
    color: #da942c;
    border: 2px solid #da942c;
}

.btn-style.download-btn:hover {
    background-color: #da942c;
    color: white;
    border: 2px solid transparent;
}

.btn-style.btn-style.download-btn a {
    color: #da942c;
    transition: all .5s;
}

.btn-style.btn-style.download-btn:hover a {
    color: white;
}

.card-body h5 {
    font-size: 13px;
}

.card-body h4 {
    font-size: 24px;
}


/* form search  */
.search-box {
    position: relative;
}

.search-box input {
    width: 100%;
    height: 40px;
    padding-left: 20px;
    padding-right: 100px;
    border: 1px solid #da942c;
    border-radius: 30px;
}

.search-box input:focus {
    outline: none;
}

.search-box span {
    position: absolute;
    top: 0;
    right: 0;
    outline: none;
    border: none;
    background: #da942c;
    color: white;
    padding: 8px 25px;
    border-radius: 30px;
    font-weight: 600;
}


/* pagination */
.page-item .page-link {
    color: #da942c;
    background-color: white;
    border-color: #da942c;
}

.page-item.active .page-link {
    color: #fff;
    background-color: #da942c;
    border-color: #da942c;
}

.department {
    text-transform: uppercase;
}