.footer-area {
    background-color: #da942c;
    /* position: fixed; */
    width: 100%;
    left: 0;
    bottom: 0;

    color: whitesmoke;
}

.footer-box h4 {
    font-size: 26px;
}

.links ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.links ul li {
    text-transform: capitalize;
    margin-bottom: 5px;
    cursor: pointer;
    transition: all .4s;
    color: rgb(219, 219, 219);
}

.links ul li:hover {
    color: white;
    padding-left: 6px;
    text-decoration: underline;
}

.link-icon {
    font-size: 12px;
    margin-right: 5px;
}

.subscribe-form input {
    width: 100%;
    outline: none;
    border: none;
    height: 40px;
    padding-left: 10px;
    border-radius: 2px;
}

.subscribe-form button {
    width: 100%;
    outline: none;
    border: none;
    margin-top: 10px;
    font-weight: 600;
    padding: 6px 0;
    text-transform: capitalize;
    color: #da942c;
    border-radius: 30px;
    transition: all .4s;
}

.subscribe-form button:hover {
    padding-left: 20px;
}

.horizontal-line {
    height: 2px !important;
}

.social-icon {
    font-size: 20px;
    margin-right: 12px;
    cursor: pointer;
    margin-top: 5px;
    transition: all .4s;
}

.social-icon:hover {
    transform: scale(1.5);
}