.header-area {
     background: #da942c;
     padding: 8px 0;
     box-shadow: 0px -3px 10px 2px #282828;
     position: relative;
}

.header-area .logo {
     color: white;
     font-size: 28px;
     font-weight: 600;
}

.header-area .menu {
     position: relative;
}

.header-area .menu .menu-item,
.menu-item {
     color: white;
     font-weight: 600;
     text-transform: uppercase;
     margin-left: 15px;
     transition: all .3s;
}

.navbar-light,
.navbar-nav,
.nav-link,
.menu-item {
     color: white !important;
     font-weight: 600 !important;
     text-transform: uppercase;
     margin-left: 15px;
     transition: all .3s;
}


.menu-item.active,
.menu-item:focus,
.menu-item:hover {
     color: whitesmoke;
     border-bottom: 2px solid white;
}

.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:hover {
     color: white;

}

.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .show>.nav-link {
     color: white;

}

.navbar-toggler {
     background-color: whitesmoke;
     border: whitesmoke;
}

.navbar-light .navbar-toggler {
     color: whitesmoke;
     border-color: whitesmoke;
}

.user-image {
     width: 50px;
     height: 50px;
     border-radius: 50%;
     margin-left: 10px;
     cursor: pointer;
}

.toggle-menu {
     width: 150px;
     background-color: #51a5b9;
     position: absolute;
     right: 20px;
     bottom: -65px;
     display: none;
     z-index: 150;
     border-radius: 5px;
     padding: 5px 0;
}

.active {
     display: block !important;
}

.toggle-menu li {
     font-size: 18px;
     font-weight: 600;
     padding: 2px 10px;
     cursor: pointer;
     list-style: none;
     color: white;
     transition: all .4s;
}

.toggle-menu li:hover {
     margin-left: 5px;
}