.login-form {
    padding: 50px 0;
    box-shadow: 0 1px 3px #888;
}

.login-form input {
    outline: none;
    border: 0;
    border-bottom: 1px solid #da942c;
    ;
    padding-left: 15px;
    border-radius: 30px;
    height: 40px;
}

.login-form button {
    outline: none;
    border: 2px solid transparent;
    background: #da942c;
    ;
    color: white;
    font-weight: 600;
    padding: 10px 70px;
    border-radius: 30px;
    text-transform: uppercase;
    transition: all .4s;
}

.login-form button:hover {
    border: 2px solid #da942c;
    ;
    background-color: white;
    color: #da942c;
    ;
}

.google {
    cursor: pointer;
}